header {
    position: fixed;
    width: 100%;
    top: 0;
}
nav ul li{
    float: left;
    color: white;
    font-weight: bold;
}
#home{
    background: rgb(255,0,0);
    background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(0,0,0,0) 70%);   
} 


article{
    width: 70%;
    text-align: center;
    margin: 0 auto;
}
section{
}

#caixa1{
    width: 100vw;
    height: 500px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 100%);
    color: white;
    padding: 20px;
}
#preto{
    width: 100vw;
    height: 30px;
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
}
#branco{
    width: 100vw;
    height: 50px;
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, #07BDFC 100%);

}
#caixa2{
    width: auto;
    height: 400px;
    display: flex;
    margin: 0 auto;
    padding: 30px;
    background: #07BDFC;
    background: linear-gradient(0deg, #07BDFC 0%, rgba(255,255,255,1) 40%);
}


#caixa3{
    width: auto;
    height: 450px;
    display: flex;
    margin: 0 auto;
    background-color: #07BDFC;
}
#caixa3 article{
    padding-right: 50px;
}
#caixa3 section img{
    width: 90%;
}


#caixa4{
    width: auto;
    height: 500px;
    display: flex;
    margin: 0 auto;
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(252,234,178,1) 50%, rgba(255,255,255,1) 100%);
    
}
#caixa4 article{
    padding: 40px;
    background: rgb(252,234,178);
background: radial-gradient(circle, rgba(252,234,178,1) 0%, rgba(255,255,255,1) 100%);
}
#caixa4 section img{
    width: 90%;
}

#caixa5{
    width: auto;
    height: 600px;
    display: flex;
    margin: 0 auto;
    
}
#caixa5 article{
    margin-top: 20px;
    padding-right: 50px;
}
#caixa5 section img{
    width: 90%;
}
#caixa5 section{
    width: 60%;
    display: flex;
}

#laranja{
    width: 100vw;
    height: 30px;
}






